.device-card {
  width: 290px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(150, 187, 178, 0.23951);
  border-radius: 10px;
}

.inactive-card{
  opacity: 0.50;
}

.device-card img{
  height: 218px;
  border-radius: 10px 10px 0 0;
}

.device-card .card-description {
  padding: 16px 16px 0 16px;
  display: flex;
  color: #2B4039;
}

.device-card .card-description .id-text {
  margin-left: auto;
  align-self: center;
  font-size: 1.1em;
  padding: 2px 10px;
  mix-blend-mode: normal;
  opacity: 0.75;
  flex-shrink: 0;
}


.device-card .card-description p .status-text {
  font-family: Raleway, sans-serif;
  line-height: normal;
  font-size: .688em;
  letter-spacing: 1px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.65;
}

.device-card .card-description p .name-text {
  font-family: Lato, sans-serif;
  line-height: normal;
  font-size: 1em;
  letter-spacing: 0.75px;
  mix-blend-mode: normal;
  opacity: 0.85;
}

.device-card .card-description .status-bar {
  height: 40px;
  width: 6px;
  mix-blend-mode: normal;
  opacity: 0.92;
  border-radius: 7.5px;
  align-self: center;
  margin-right: 10px;
}

.inactive-bar{
  background: #CA6060;
}

.active-bar{
  background: #1DD387;
}
